﻿@model AspNetDatabases.Models.CdDb
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<ul>
<li>@Model.Title</li>
<li>@Model.Artist</li>
<li>@Model.RecordLabel</li>
<li>@Model.ReleaseYear</li>
</ul>
