﻿ 
@model AspNetDatabases.Models.CdDb

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CdDb</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Artist)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Artist)
            @Html.ValidationMessageFor(model => model.Artist)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.RecordLabel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecordLabel)
            @Html.ValidationMessageFor(model => model.RecordLabel)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.ReleaseYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseYear)
            @Html.ValidationMessageFor(model => model.ReleaseYear)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

